@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: #cbcbce;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background: #79797a;

}